.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  border-radius: var(--spacing-1);
}

.label {
  color: var(--color-gray-900);
  font-weight: 500;

  &.xs {
    font-size: var(--font-size-12);
  }
  &.sm {
    font-size: var(--font-size-14);
  }

  &.md {
    font-size: var(--font-size-16);
  }

  &.lg {
    font-size: var(--font-size-18);
  }
}

.inputWrapper {
  display: flex;
  align-items: center;
  position: relative;
  background: transparent;
  border-radius: var(--spacing-1);

  &.outline {
    border: 1px solid var(--color-gray-200);

    &:focus-within {
      border: 2px solid var(--color-red-500);
    }
  }

  &.filled {
    background-color: var(--color-gray-200);

    &:focus-within {
      border: 2px solid var(--color-red-500);
    }

    .input {
      background-color: var(--color-gray-200);
    }
  }

  &.fullished {
    border-bottom: 2px solid var(--color-gray-200);
    border-radius: 0;

    &:focus-within {
      border-bottom: 2px solid var(--color-red-500);
    }

    .input {
      padding: 0;
      border-radius: 0;
    }
  }
  &.disabled {
    cursor: not-allowed;
    border: none;
  }
}

.input {
  flex: 1;
  border: none;
  background: var(--color-white-0);
  outline: none;
  font-weight: var(--font-weight-400);
  color: var(--color-gray-400);
  border-radius: var(--spacing-1);

  &.xs {
    height: 24px;
    font-size: var(--font-size-12);
    padding: 0 var(--spacing-2);
  }

  &.sm {
    height: 32px;
    font-size: var(--font-size-14);
    padding: 0 var(--spacing-3);
  }

  &.md {
    height: 40px;
    font-size: var(--font-size-16);
    padding: 0 var(--spacing-4);
  }

  &.lg {
    height: 48px;
    font-size: var(--font-size-18);
    padding: 0 var(--spacing-6);
  }

  &:disabled {
    background-color: var(--color-gray-900);
    opacity: 0.4;
    color: var(--color-gray-400);
    cursor: not-allowed;
  }
}

.errorMessage {
  color: var(--color-red-500);
  font-size: var(--font-size-12);
}
