.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
}

.label {
  color: var(--color-gray-900);
  font-weight: 500;
}

.label.xs {
  font-size: var(--font-size-12);
}

.label.sm {
  font-size: var(--font-size-14);
}

.label.md {
  font-size: var(--font-size-16);
}

.label.lg {
  font-size: var(--font-size-18);
}

.inputWrapper {
  display: flex;
  align-items: center;
  position: relative;
  background: transparent;
  border-bottom: 1px solid var(--color-purple-500);
}

/* Focus 상태 */
.inputWrapper:focus-within {
  border-bottom: 1px solid var(--color-purple-600);
}

/* Error 상태 */
.inputWrapper.error {
  border-bottom: 1px solid var(--color-red-500);
}

/* Error + Focus 상태 */
.inputWrapper.error:focus-within {
  border-bottom: 1px solid var(--color-red-500);
}

/* Disabled 상태 */
.inputWrapper.disabled {
  background-color: var(--color-gray-50);
  cursor: not-allowed;
  border: none;
}

.input {
  flex: 1;
  border: none;
  background: transparent;
  outline: none;
  height: 40px;
  font-weight: var(--font-weight-400);
  color: var(--color-gray-900);
}

/* input 사이즈별 */
.input.xs {
  height: 28px;
  font-size: var(--font-size-12);
}

.input.sm {
  height: 32px;
  font-size: var(--font-size-14);
}

.input.md {
  height: 40px;
  font-size: var(--font-size-16);
}

.input.lg {
  height: 48px;
  font-size: var(--font-size-18);
}

/* input 비활성화 */
.input:disabled {
  background-color: transparent;
  color: var(--color-gray-400);
  cursor: not-allowed;
}

.fullwidth {
  width: 100%;
}

.errorMessage {
  margin-top: var(--spacing-2);
  color: var(--color-red-500);
  font-size: var(--font-size-12);
}

.iconLeft {
  display: inline-flex;
  margin-right: var(--spacing-8);
}

.iconRight {
  display: inline-flex;
  margin-left: var(--spacing-8);
}
