.accordion {
  border-bottom: 1px solid;
  border-color: var(--color-gray-300);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px var(--spacing-3);
  background: var(--color-white-500);
  border-top: 1px solid;
  border-color: var(--color-gray-300);
  text-align: left;
  font-size: var(--font-size-16);
  cursor: pointer;

  &.start {
    justify-self: start;
  }

  &.end {
    justify-self: end;
  }
}

.panel {
  padding: var(--spacing-3) var(--spacing-2) var(--spacing-5) var(--spacing-3);
  text-align: left;
  font-size: var(--font-size-16);
  line-height: var(--line-height-150);
  background: #fff;
  transition: all 0.3s ease;
  &[hidden] {
    display: none;
  }
}

.arrow {
  &.open {
    transform: rotate(180deg);
  }
}
